header {
    display: flex;
    justify-content: space-between;
    background-color: #9d8cce;
    border-bottom: 10px solid black;
    padding: 10px 20px;
}

#img-logo {
    max-width: 60px;
    max-height: 60px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #F98DCE;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}


#button {
    display: inline-block;
    background-color: #F98DCE;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px black;
    margin-right: 0px;
    transition: transform 150ms linear;
}
#button:hover {
    transform: scale(1.05);
    background-color: #faabdb;
}